* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/public-sans');
@import url('https://fonts.cdnfonts.com/css/ibarra-real-nova-2');

:root {
    --PublicSans: 'Public Sans', sans-serif;
    --ibarra: 'Ibarra Real Nova', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;


}


/*----------------started styles of navigation section----------------*/
nav {
    width: 100%;
}

nav .navbar {
    width: 100%;
    height: 32px;
    margin: 64px 0 43px 0;
}

.navbar .checked {
    float: right;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.navbar .logo img {
    cursor: pointer;
}

#check {
    display: none;
}

.navbar .checked div {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 2px 2px;
}

nav .navbar ul {
    float: right;
    width: 350px;
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a {
    color: #33323d;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar ul li .activ1 {
    color: #5fb4a2;
}
/*----------------/ended styles of navigation section----------------*/



/*----------------started styles of intro-main__section----------------*/
.intro-main__section {
    width: 100%;
    height: auto;
}

.intro-main__section .container {
    position: relative;
    max-width: 1111px;
}

.intro-main__section .img {
    display: block;
    text-align: center;
    z-index: 0;
    width: 100%;
}

.intro-main__section .img .jpeg {
    width: 100%;
    height: auto;
    z-index: 0;
}

.intro-main__section .img .jpg {
    display: none;
}

.intro-main__section .about-me__btn {
    width: 445px;
    height: 357px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    bottom: 4px;
    position: absolute;
}

.about-me__btn h2 {
    font-family: var(--ibarra);
    font-size: 47px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.4464285671710968px;
    text-align: left;
    color: #33323d;
    padding: 50px 45px 0 0;
}

.about-me__btn a {
    width: 200px;
    height: 48px;
    display: flex;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-me__btn a .div1 {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3443;
}

.about-me__btn a .div2 {
    width: 152px;
    height: 48px;
    background-color: #203a4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__btn a .div2 p {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}
/*----------------/ended styles of intro-main__section----------------*/



/*----------------started styles of main section----------------*/
main {
    width: 100%;
    height: auto;
    margin-top: 90px;
}

main .card-items {
    max-width: 1015px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.card-items .card1 {
    width: 540px;
    height: auto;
}

.card-items .card1 .foto2 {
    width: 100%;
    height: auto;
}

.card-items .card1 .foto2-2 {
    display: none;
}

.card-items .card2 {
    width: 350px;
    height: 600px;
    border-top: 2px solid #dcdcde;
    border-bottom: 2px solid #dcdcde;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card2 .card2-infos {
    width: 350px;
    height: 502px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
}

.card-items .card2 h3 {
    font-family: var(--ibarra);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323d;
}

.card-items .card2 .p1 {
    font-family: var(--PublicSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #33323d;
}

.card-items .card2 a {
    width: 202px;
    height: 48px;
    background-color: initial;
    border: solid 2px #33323d;
    text-decoration: none;
    color: #33323d;
    padding: 12px;

}

.card-items .card2 a p {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    display: inline-block;
}
/*----------------/ended styles of main section----------------*/



/*----------------started styles of .intro-footer section----------------*/
.intro-footer {
    width: 100%;
    height: auto;
}

.intro-footer .intro-foter__infos {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}

.intro-foter__infos h3 {
    width: 370px;
    height: auto;
    font-family: var(--ibarra);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    color: #33323d;
}

.intro-foter__infos .line1 {
    width: 534px;
    height: 2px;
    background-color: #dcdcde;
}

.intro-foter__infos a {
    min-width: 162px;
    height: 48px;
    border: 2px solid #33323d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.intro-foter__infos a p {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: #33323d;
    display: inline-block;
}
/*----------------/ended styles of .intro-footer section----------------*/



/*----------------started styles of footer section----------------*/
footer {
    width: 100%;
    height: 80px;
    background-color: #33323d;
    margin-top: 84px;
}

.footer-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-items .item1 {
    width: 410px;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-items .item1 a {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.item2 {
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*----------------/ended styles of footer section----------------*/

















/*==============================--STARTED RESPONSIWE FLEXIBLE STYLES--==============================*/
@media only screen and (max-width:1111px) {
    .container {
        padding: 0 12px;
    }
}



/* Medium devices (landscape tablets, 768px AND ...) */
@media only screen and (max-width:768px) {

    /*---started styles of navigation sectiom---*/
    nav {
        width: 100%;
    }

    nav .navbar {
        width: 100%;
        height: 32px;
    }
    /*---/ended styles of navigation sectiom---*/



    /*---started styles of intro-main__section---*/
    .intro-main__section {
        width: 100%;
        height: auto;
    }

    .intro-main__section .container {
        position: relative;
    }

    .intro-main__section .img {
        display: block;
        text-align: center;
        z-index: 0;
    }

    .intro-main__section .img .jpeg {
        display: none;
    }

    .intro-main__section .img .jpg {
        display: block;
        width: 100%;
        height: auto;
    }

    .intro-main__section .about-me__btn {
        width: 74%;
        height: 278px;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        bottom: 4px;
        position: absolute;
    }

    .about-me__btn h2 {
        font-family: var(--ibarra);
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.3571428656578064px;
        text-align: left;
        color: #33323d;
        padding: 50px 45px 0 0;
    }

    .about-me__btn a {
        width: 200px;
        height: 48px;
        display: flex;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .about-me__btn a .div1 {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1d3443;
    }

    .about-me__btn a .div2 {
        width: 152px;
        height: 48px;
        background-color: #203a4d;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*----/ended styles of intro-main__section---*/



    /*---started styles of main section---*/
    main {
        width: 100%;
        height: auto;
        margin-top: 90px;
    }

    main .card-items {
        max-width: 689px;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .card-items .card1 {
        width: 281px;
        height: auto;
    }

    .card-items .card1 .foto2 {
        display: none;
    }

    .card-items .card1 .foto2-2 {
        display: block;
    }

    .card-items .card2 {
        width: 52%;
        height: 600px;
        border-top: 2px solid #dcdcde;
        border-bottom: 2px solid #dcdcde;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 16px;
    }

    .card2 .card2-infos {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -18px;
    }
    /*---/ended styles of main section---*/



    /*---started styles of .intro-footer section---*/
    .intro-footer {
        width: 100%;
        height: auto;
    }

    .intro-footer .intro-foter__infos {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 65px;
    }

    .intro-foter__infos h3 {
        width: 600px;
        height: auto;
        font-family: var(--ibarra);
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.3571428656578064px;
        text-align: left;
        color: #33323d;
    }
    /*---/ended styles of .intro-footer section---*/
}








/*-----------------======Extra small devices (phones, 575px and ...)======-----------------*/
@media only screen and (max-width:575px) {

    .container {
        padding: 0 16px;
    }

    /*--- started styles of navigation sectiom ---*/
    nav {
        width: 100%;
    }

    nav .navbar {
        width: 100%;
        height: 32px;
        margin: 32px auto;
        padding: 0;
    }

    .navbar .checked {
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar .checked div {
        width: 24px;
        height: 2px;
        background-color: #33323d;
        margin: 2px 2px;
    }

    nav .navbar ul {
        background-color: #33323d;
        width: 200px;
        height: 186px;
        margin-top: 32px;
        padding: 12px 0 12px 0;
        display: none;
    }

    .navbar ul li {
        display: block;
        line-height: 32px;
        text-align: center;
        margin-top: 16px;
    }

    .navbar ul li a {
        color: #ffffff;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .navbar ul li .activ1 {
        color: #ffffff;
    }

    #check:checked~ul {
        display: block;
        margin-right: -26px;
    }
    /*---/ended styles of navigation sectiom---*/



    /*---started styles of intro-main__section---*/
    .intro-main__section {
        width: 100%;
        height: auto;
    }

    .intro-main__section .about-me__btn {
        width: 100%;
        max-height: 357px;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        position: relative;
        margin-top: 34px;
    }

    .about-me__btn h2 {
        font-family: var(--ibarra);
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.4464285671710968px;
        text-align: left;
        color: #33323d;
        padding: 24px 12px 0 0;
    }

    .about-me__btn a {
        width: 200px;
        height: 48px;
        display: flex;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .about-me__btn a .div1 {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1d3443;
    }
    /*---/ended styles of intro-main__section---*/



    /*---started styles of main section---*/
    main {
        width: 100%;
        height: auto;
        margin-top: 90px;
    }

    main .card-items {
        max-width: 689px;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .card-items .card1 {
        width: 100%;
        height: auto;
    }

    .card-items .card1 .foto2 {
        display: block;
    }

    .card-items .card1 .foto2-2 {
        display: none;
        width: 100%;
        height: auto;
    }

    .card-items .card2 {
        width: 100%;
        height: 540px;
        border-top: 2px solid #dcdcde;
        border-bottom: 2px solid #dcdcde;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 18px;
    }
    /*---/ended styles of main section---*/



    /*---started styles of .intro-footer section---*/
    .intro-footer {
        width: 100%;
        height: auto;
    }

    .intro-footer .intro-foter__infos {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .intro-foter__infos h3 {
        width: 200px;
        height: auto;
        font-family: var(--ibarra);
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.3571428656578064px;
        text-align: center;
        color: #33323d;
        margin-bottom: 24px;
    }

    .intro-foter__infos .line1 {
        display: none;
    }
    /*---/ended styles of .intro-footer section---*/



    /*---started styles of footer section----*/
    footer {
        width: 100%;
        height: 354px;
        background-color: #33323d;
        margin-top: 84px;
        display: flex;
        align-items: center;
    }

    footer .footer-items {
        width: 120px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-items .item1 {
        width: 120px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-items .item2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 12px;
    }
    /*---/ended styles of footer section---*/
}