* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/public-sans');
@import url('https://fonts.cdnfonts.com/css/ibarra-real-nova-2');

:root {
    --PublicSans: 'Public Sans', sans-serif;
    --ibarra: 'Ibarra Real Nova', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}



/*----------------started styles of navigation section----------------*/
nav {
    width: 100%;
}

nav .navbar {
    width: 100%;
    height: 32px;
    margin: 64px 0 43px;
}

.navbar .checked {
    float: right;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.navbar .logo img {
    cursor: pointer;
}

#check {
    display: none;
}

.navbar .checked div {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 2px;
}

nav .navbar ul {
    float: right;
    width: 350px;
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    list-style-type: none;

}

.navbar ul li a {
    color: #33323d;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar ul li .activ2 {
    color: #5fb4a2;
}
/*----------------/ended styles of navigation section----------------*/



/*----------------started styles of main section----------------*/
main {
    width: 100%;
    margin-top: 72px;
}
main .container {
    display: flex;
    justify-content: start;
}


/* ---started styles of all sections--- */
.items {
    width: 91%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item1 {
    width: 49%;
    height: auto;
}
.item1 img {
    width: 100%;
    height: auto;
}
.item2 {
    width: 34%;
    height: 500px;
    display: flex;
    align-items: center;
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;
    margin-top: 18px;
}
.item2-infos {
    width: 350px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#h3text {
    font-family: var(--PublicSans);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323d;
    margin-bottom: 12px;
}
#p-text {
    font-family: var(--PublicSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #33323d;
}
#btn {
    width: 175px;
    height: 48px;
    border: solid 2px #33323d;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
#btn span {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: #33323d;
}
/* ---/ended styles of all sections--- */

/*----------------/ended styles of main section----------------*/




/*----------------started styles of main1 section----------------*/
.main1 {
    width: 100%;
    height: auto;
    margin-top: 72px;
}
.main1 .container {
    display: flex;
    justify-content: end;
}

/*----------------/ended styles of main1 section----------------*/




/*----------------started styles of main2 section----------------*/
.main2 {
    width: 100%;
    height: auto;
    margin-top: 72px;
}
.main2 .container {
    display: flex;
    justify-content: start;
}

/*----------------/ended styles of main2 section----------------*/




/*----------------started styles of main3 section----------------*/
.main3 {
    width: 100%;
    height: auto;
    margin-top: 72px;
}
.main3 .container {
    display: flex;
    justify-content: end;
}
/*----------------/ended styles of main3 section----------------*/





/*----------------started styles of .intro-footer section----------------*/
.intro-footer {
    width: 100%;
    height: auto;
    margin-top:120px;
}

.intro-footer .intro-foter__infos {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}

.intro-foter__infos h3 {
    width: 370px;
    height: auto;
    font-family: var(--ibarra);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    color: #33323d;
}

.intro-foter__infos .line1 {
    width: 534px;
    height: 2px;
    background-color: #dcdcde;
}

.intro-foter__infos a {
    min-width: 162px;
    height: 48px;
    border: 2px solid #33323d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.intro-foter__infos a p {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: #33323d;
    display: inline-block;
}
/*----------------/ended styles of .intro-footer section----------------*/




/*----------------started styles of footer section----------------*/
footer {
    width: 100%;
    height: 80px;
    background-color: #33323d;
    margin-top:120px;
}

.footer-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-items .card1 {
    width: 410px;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-items .card1 a {
    font-family: var(--PublicSans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.card2 {
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*----------------/ended styles of footer section----------------*/





/*==============================--STARTED RESPONSIWE FLEXIBLE STYLES--==============================*/
@media only screen and (max-width:1111px) {
    .container {
        padding: 0 12px;
    }
}


/* Medium devices (landscape tablets, 768px AND ...) */
@media only screen and (max-width:768px) {


    /*---started styles of navigation section---*/
    nav {
        width: 100%;
    }
    nav .navbar {
        width: 100%;
        height: 32px;
    }
    /*---/ended styles of navigation section---*/




    main {
        width: 100%;
        height: auto;
    }

    /*---started styles of all sections---*/
    .items {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item1 {
        width: 540px;
        height: auto;
    }

    .item1 img {
        width: 100%;
        height: auto;
    }

    .item2 {
        width: 34%;
        height: 500px;
        display: flex;
        align-items: center;
        border-top: 2px solid #dcdcde;
        border-bottom: 2px solid #dcdcde;
    }

    .item2-infos {
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
    }
    /*---/ended styles of all sections---*/





}








/*-----------------======Extra small devices (phones, 575px and ...)======-----------------*/
@media only screen and (max-width:575px) {

    .container {
        padding: 0 16px;
    }

    /*--- started styles of navigation sectiom ---*/
    nav {
        width: 100%;
    }

    nav .navbar {
        width: 100%;
        height: 32px;
        margin: 32px auto;
        padding: 0;
    }

    .navbar .checked {
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar .checked div {
        width: 24px;
        height: 2px;
        background-color: #33323d;
        margin: 2px;
    }

    nav .navbar ul {
        background-color: #33323d;
        width: 200px;
        height: 186px;
        margin-top: 32px;
        padding: 12px 0;
        display: none;
        z-index: 1;
        position: absolute;
        right: 46px;
        top: 32px;
    }

    .navbar ul li {
        display: block;
        line-height: 32px;
        text-align: center;
        margin-top: 16px;
    }

    .navbar ul li a {
        color: #ffffff;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .navbar ul li .activ1 {
        color: #ffffff;
    }

    #check:checked~ul {
        display: block;
        margin-right: -26px;
    }

    .navbar ul li .activ2 {
        color:#ffffff;
    }
    /*---/ended styles of navigation sectiom---*/



    main {
        width: 100%;
        height: auto;
    }

    /*---started styles of all sections---*/
    .items {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .item1 {
        width: 100%;
        height: auto;
    }

    .item1 img {
        width: 100%;
        height: auto;
    }


    .item2 {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border-top: 2px solid #dcdcde;
        border-bottom: 2px solid #dcdcde;
        flex-direction: column;
    }

    .item2-infos {
        width: 100%;
        height: 292px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main1 .items {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .main2 .items {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main3 .items {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    /*---/ended styles of all sections---*/





    /*---started styles of .intro-footer section---*/
    .intro-footer {
        width: 100%;
        height: auto;
    }

    .intro-footer .intro-foter__infos {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .intro-foter__infos h3 {
        width: 200px;
        height: auto;
        font-family: var(--ibarra);
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.3571428656578064px;
        text-align: center;
        color: #33323d;
        margin-bottom: 24px;
    }

    .intro-foter__infos .line1 {
        display: none;
    }
    /*---/ended styles of .intro-footer section---*/

    
    
    /*---started styles of footer section----*/
    footer {
        width: 100%;
        height: 354px;
        background-color: #33323d;
        margin-top: 84px;
        display: flex;
        align-items: center;
    }

    footer .footer-items {
        width: 120px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-items .card1 {
        width: 120px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-items .card2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 12px;
    }

    /*---/ended styles of footer section---*/
}