* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- public sans font ---*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*--- iberra real nova font ---*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    --public-sans: "Public Sans", sans-serif;
    --iberra: "Ibarra Real Nova", serif;
}

.container {
    width: 1110px;
    height: auto;
    margin: 0 auto;
}




/* ======-started styles of header & nav  section-====== */
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 60px;
    height: 32px;
}

nav label {
    display: none;
}

nav ul {
    float: right;
    width: 320px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


nav ul li:nth-child(3) a{
    color:#60b4a2;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    font-family: var(--public-sans);
    color: #33323D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 1px;
}

nav .check_Button {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
}

nav #check {
    display: none;
}

/* ======/-ended styles of header & nav  section-====== */




/* ======-started styles of main section-====== */
main {
    width: 100%;
    height: auto;
}

main .main-items {
    width: 100%;
    height: auto;
    padding-bottom: 84px;
}

main .main-item1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #dcdcde;
    margin-bottom: 36px;
    padding: 36px 0;
}

main h2 {
    font-family: var(--iberra);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323d;
}

.main-item1 .main-item1_txt {
    width: 635px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 24px;
}

.main-item1 .main-item1_txt p {
    font-family: var(--public-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #5c5b62;
}

.main-item1 .network {
    width: 104px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-item1 .network img {
    width: 24px;
    height: 24px;
}


main .main-item2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    border-top: 1px solid #dcdcde;
}

main .main-item2 form {
    width: 635px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .main-item2 form div {
    width: 100%;
    height: 86px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main .main-item2 form .textArea {
    width: 100%;
    height: 134px;
}

main .main-item2 form div label {
    margin-bottom: 16px;
    font-family: var(--public-sans);
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #5c5b62;
    text-transform: capitalize;
}

main .main-item2 form div input, textarea {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #e6e6e7;
}

main .main-item2 form div input {
    width: 100%;
    height: 48px;
    padding: 0 16px 0 16px;
}

form ::placeholder {
    color: #9e9ea3;
}

main .main-item2 button {
    width: 200px;
    height: 48px;
    background-color: #203a4b;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}

main .main-item2 button p {
    font-family: var(--public-sans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

/* ======/-ended styles of main section-====== */



/* ======-started styles of footer section-====== */
footer {
    width: 100%;
    height: 80px;
    background-color: #33323d;
    display: flex;
    align-items: center;
}

footer .footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-item1 {
    width: 420px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-item1 img {
    width: 60px;
    height: 32px;
}

footer .footer-item1 ul {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

footer .footer-item1 ul li a {
    text-decoration: none;
    font-family: var(--public-sans);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

footer .footer-item2 {
    width: 114px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-item2 img {
    width: 24px;
    height: 24px;
}

/* ======/-ended styles of footer section-====== */





/* ==========================-RWD styles-========================== */

@media only screen and (max-width:1114px) {
    .container {
        width: 100%;
    }

    /* nav rwd */
    nav {
        padding: 0 16px;
    }

    /* main rwd */
    main {
        padding: 0 16px;
    }

    /* footer rwd */
    footer {
        padding: 0 16px;
    }
}


@media only screen and (max-width:888px) {

    /* main rwd */
    main .main-item1, .main-item2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 36px;
        border-top: 1px solid #dcdcde;
    }

    .main-item1 .main-item1_txt {
        width: 65%;
        height: auto;
    }

    main .main-item2 form {
        width: 65%;
        height: auto;
    }

    .main-item1 .main-item1_txt p {
        margin: 18px 0;
    }
}


@media only screen and (max-width:667px) {

    /* nav rwd */
    nav {
        padding: 0 16px;
    }

    nav .check_Button {
        display: block;
    }

    nav ul {
        padding: 12px 0;
        background-color: #33323d;
        width: 150px;
        height: 140px;
        position: absolute;
        top: 90px;
        right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.4s ease-in-out;
    }

    nav ul li a {
        color: #ffffff;
    }

    #check:checked~ul {
        top: -300px;
    }

    /* main rwd */
    main .main-item1, .main-item2 {
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 36px;
        border-top: 1px solid #dcdcde;
    }

    .main-item1 .main-item1_txt {
        width: 100%;
        height: auto;
    }

    main .main-item2 form {
        width: 100%;
        height: auto;
    }

    main h2 {
        margin-bottom: 24px;
    }

    main .main-item2 button {
        margin-top: 24px;
    }
}


@media only screen and (max-width:554px) {

    /* nav rwd */
    nav {
        padding: 0 10px;
    }

    nav ul {
        position: absolute;
        right: 10px;
    }

    /* main rwd  */
    main {
        padding: 0 10px;
    }


    /* footer rwd */
    footer {
        padding: 0 12px;
        width: 100%;
        height: 354px;
        background-color: #33323d;
        display: flex;
        align-items: center;
    }

    footer .footer-items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .footer-item1 {
        width: 100%;
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    footer .footer-item1 img {
        width: 60px;
        height: 32px;
        display: block;
    }

    footer .footer-item1 ul {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;
    }

    footer .footer-item1 ul li {
        display: block;
    }

    footer .footer-item1 ul li a {
        text-decoration: none;
        font-family: var(--public-sans);
        font-size: 12px;
        font-weight: 400;
        line-height: 14.1px;
        letter-spacing: 2px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        display: block;
    }
}